@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background-color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.dash_content {
  height: calc(100vh - 60px);
}

.sidebar {
  width: 200px;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar div {
  height: 100vh;
}
.sidebar button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
  font-size: 15px;
}

.sidebar button.active {
  background-color: #b3d6fd98;
  color: #004da6;
  font-weight: 500;
  border-radius: 5px;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f05f;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #0071f3b6;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}
